.download-page-title {
    text-align: center;
    font-size: 20px;
}

.download-button-container {
    margin: 20px 10px;
}

.download-button {
    display: block;
    margin: 0 auto;
    border: 2px solid grey;
    padding: 20px 20px 15px 20px;
    font-family: 'Josefin Sans';
    width: 88px;
    text-decoration: none;
    color: black;
}

.download-button:hover {
    background-color: grey;
    color: white;
}
