.page-heading {
	background-color: white;
	width: 100%;
	padding: 5px;
	text-align: center;
}

.page-heading > h1 {
	color: black;
}

.search-box {
	font-size: 20px;
	border: 2px solid grey;
	padding: 12px 20px 15px 20px;
}