.team-info-container {
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
}

.team-info {
    margin: auto;
    display: flex;
    font-family: 'Arial';
    font-size: 24px;
    font-weight: bold;
}

#teamNumber {
    width: auto;
    margin-right: 8px;
}

#teamName {
    flex: 1;
}