.center-page {
	max-width: 720px;
	margin: 20px auto 0 auto;
}

.center-page-lg {
	max-width: 1550px;
	margin: 20px auto 0 auto;
}

.content {
	width: 100%;
}

@media screen and (max-width: 500px) {
	.content {
		width: 100%;
	}

	.center-page {
		width: auto;
		margin-left: 10px;
		margin-right: 10px;
	}
}